---
# Shell configuration tasks for dev_machine role

- name: Check if .bashrc exists
  stat:
    path: "{{ dev_user_home }}/.bashrc"
  register: bashrc_stat
  tags:
    - dev
    - shell

- name: Add custom aliases to .bashrc
  lineinfile:
    path: "{{ dev_user_home }}/.bashrc"
    line: "{{ item }}"
    create: yes
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0644'
  loop: "{{ dev_bash_aliases }}"
  when: dev_bash_aliases | length > 0
  tags:
    - dev
    - shell

- name: Create custom bin directory
  file:
    path: "{{ dev_user_home }}/bin"
    state: directory
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0755'
  tags:
    - dev
    - shell

- name: Add custom bin directory to PATH
  lineinfile:
    path: "{{ dev_user_home }}/.bashrc"
    line: 'export PATH="$HOME/bin:$PATH"'
    create: yes
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0644'
  tags:
    - dev
    - shell
