---
# Playbook for deploying and configuring Otto devices
# Run: ansible-playbook playbooks/deploy_otto.yml

- name: Deploy and Configure Otto Devices
  hosts: otto_devices
  gather_facts: yes
  become: yes

  pre_tasks:
    - name: Wait for system to become reachable
      wait_for_connection:
        timeout: 60
      tags: always

    - name: Gather facts
      setup:
      tags: always

  roles:
    - role: otto
      tags: otto

  post_tasks:
    - name: Verify Otto deployment
      debug:
        msg: "Otto device {{ inventory_hostname }} has been configured successfully"
      tags: always
